# Stock Trades by Members of the US House of Representatives

This project uses public data about the stock trades made by members of the US House of Representatives. This data is collected and maintained by Timothy Carambat as part of the [House Stock Watcher](https://housestockwatcher.com/) project. The project describes itself as follows:

> With recent and ongoing investigations of incumbent congressional members being investigated for potentially violating the STOCK act. This website compiles this publicly available information in a format that is easier to digest then the original PDF source.
>
> Members of Congress must report periodic reports of their asset transactions. This website is purely for an informative purpose and aid in transparency.
>
> This site does not manipluate or censor any of the information from the original source. All data is transcribed by our community of contributors, which you can join for free by going to our transcription tool. Our moderation team takes great care in ensuring the accuracy of the information.
>
> This site is built and maintained by Timothy Carambat and supported with our contributors.

Some interesting questions to consider for this data set include:

- Is there a difference in stock trading behavior between political parties? For example:
    - does one party trade more often?
    - does one party make larger trades?
    - do the two parties invest in different stocks or sectors? For instance, do Democrats invest in Tesla more than Republicans?
- What congresspeople have made the most trades?
- What companies are most traded by congresspeople?
- Is there evidence of insider trading? For example, Boeing stock dropped sharply in February 2020. Were there a suspiciously-high number of sales of Boeing before the drop?
- When are stocks bought and sold? Is there a day of the week that is most common? Or a month of the year?

### Getting the Data

The full data set of stock trade disclosures is available as a CSV or as JSON at https://housestockwatcher.com/api.

This data set does not, however, contain the political affiliation of the congresspeople. If you wish to investigate a question that relies on having this information, you'll need to find another dataset that contains it and perform a merge. *Hint*: Kaggle is a useful source of data sets.


### Cleaning and EDA

- Clean the data.
    - Certain fields have "missing" data that isn't labeled as missing. For example, there are fields with the value "--." Do some exploration to find those values and convert them to null values.
    - You may also want to clean up the date columns to enable time-series exploration.
- Understand the data in ways relevant to your question using univariate and bivariate analysis of the data as well as aggregations.


### Assessment of Missingness

- Assess the missingness per the requirements in `project03.ipynb`

### Hypothesis Test / Permutation Test
Find a hypothesis test or permutation test to perform. You can use the questions at the top of the notebook for inspiration.

# Summary of Findings

### Introduction
TODO

### Cleaning and EDA
TODO

### Assessment of Missingness
TODO

### Hypothesis Test
TODO

# Code

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format = 'retina'  # Higher resolution figures

### Load datasets

In [2]:
transactions = pd.read_csv('data/all_transactions.csv')
transactions.head(10)

,disclosure_year,disclosure_date,transaction_date,owner,ticker,asset_description,type,amount,representative,district,ptr_link,cap_gains_over_200_usd
0,2021,10/04/2021,2021-09-27,joint,BP,BP plc,purchase,"$1,001 - $15,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
1,2021,10/04/2021,2021-09-13,joint,XOM,Exxon Mobil Corporation,purchase,"$1,001 - $15,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
2,2021,10/04/2021,2021-09-10,joint,ILPT,Industrial Logistics Properties Trust - Common...,purchase,"$15,001 - $50,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
3,2021,10/04/2021,2021-09-28,joint,PM,Phillip Morris International Inc,purchase,"$15,001 - $50,000",Hon. Virginia Foxx,NC05,https://disclosures-clerk.house.gov/public_dis...,False
4,2021,10/04/2021,2021-09-17,self,BLK,BlackRock Inc,sale_partial,"$1,001 - $15,000",Hon. Alan S. Lowenthal,CA47,https://disclosures-clerk.house.gov/public_dis...,False
5,2021,12/01/2021,2021-12-01,joint,AXP,American Express Company,purchase,"$1,001 - $15,000",Hon. Aston Donald McEachin,VA04,https://disclosures-clerk.house.gov/public_dis...,False
6,2021,12/01/2021,2021-11-30,NaN,KPLTW,Katapult Holdings Inc - Warrant,purchase,"$1,001 - $15,000",Hon. Austin Scott,GA08,https://disclosures-clerk.house.gov/public_dis...,False
7,2021,12/01/2021,2021-11-18,NaN,AMD,Advanced Micro Devices Inc,sale_full,"$50,001 - $100,000",Hon. Thomas Suozzi,NY03,https://disclosures-clerk.house.gov/public_dis...,False
8,2021,12/01/2021,2021-11-18,NaN,AAPL,Apple Inc,sale_full,"$50,001 - $100,000",Hon. Thomas Suozzi,NY03,https://disclosures-clerk.house.gov/public_dis...,False
9,2021,12/01/2021,2021-11-24,NaN,MSFT,Microsoft Corporation,purchase,"$50,001 - $100,000",Hon. Thomas Suozzi,NY03,https://disclosures-clerk.house.gov/public_dis...,False

### Cleaning and EDA

In [ ]:
# TODO

In [ ]:
transactions.isna().sum()

In [ ]:
transactions.info()

In [10]:
# convert `disclosure_date`, `transaction_date` to datetime type

cleaned = transactions.copy()
cleaned['disclosure_date'] = pd.to_datetime(cleaned['disclosure_date'])
cleaned['transaction_date'] = pd.to_datetime(cleaned['transaction_date'], errors='coerce')

cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15674 entries, 0 to 15673
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   disclosure_year         15674 non-null  int64
 1   disclosure_date         15674 non-null  datetime64[ns]
 2   transaction_date        15667 non-null  datetime64[ns]
 3   owner                   9661 non-null   object
 4   ticker                  15674 non-null  object
 5   asset_description       15670 non-null  object
 6   type                    15674 non-null  object
 7   amount                  15674 non-null  object
 8   representative          15674 non-null  object
 9   district                15674 non-null  object
 10  ptr_link                15674 non-null  object
 11  cap_gains_over_200_usd  15674 non-null  bool
dtypes: bool(1), datetime64[ns](2), int64(1), object(8)
memory usage: 1.3+ MB

In [11]:
cleaned['ticker'] = cleaned['ticker'].replace('--', np.NaN)

cleaned.isna().sum()

disclosure_year              0
disclosure_date              0
transaction_date             7
owner                     6013
ticker                    1296
asset_description            4
type                         0
amount                       0
representative               0
district                     0
ptr_link                     0
cap_gains_over_200_usd       0
dtype: int64

--       1296
MSFT      265
AAPL      187
NTAP      141
TDDXX     122
         ...
FSTFX       1
IBDO        1
XLY         1
IVE         1
SHYF        1
Name: ticker, Length: 2215, dtype: int64

### Political party dataset

In [74]:
parties = pd.read_csv('data/us-house.csv')
parties = parties[['party', 'first_name', 'last_name']]
parties['party'] = parties['party'].str.capitalize()
parties.head(10)

        party first_name last_name
0  Republican        Don     Young
1  Republican      Jerry      Carl
2  Republican      Felix     Moore
3  Republican       Mike    Rogers
4  Republican     Robert  Aderholt
5  Republican         Mo    Brooks
6  Republican       Gary    Palmer
7    Democrat      Terri    Sewell
8  Republican       Rick  Crawford
9  Republican     French      Hill

In [ ]:
parties.isna().sum()

In [ ]:
(
    transactions
    .loc[transactions['representative'].str.contains('|'.join(combined_names), case=False), 'representative']
    .nunique()
)

In [46]:
parties[parties['name'].str.contains('cox', case=False)]

Empty DataFrame
Columns: [party, name, name_slug, first_name, middle_name, last_name, name_suffix]
Index: []

In [90]:
transactions.loc[transactions['representative'].str.contains('Greg'), 'representative']

238      Hon. Greg Gianforte
239      Hon. Greg Gianforte
240      Hon. Greg Gianforte
241      Hon. Greg Gianforte
242      Hon. Greg Gianforte
                ...
15530    Hon. Greg Gianforte
15531    Hon. Greg Gianforte
15532    Hon. Greg Gianforte
15533    Hon. Greg Gianforte
15594    Hon. W. Greg Steube
Name: representative, Length: 509, dtype: object

In [106]:
suffixs = ['Hon\\.', 'Mr\\.', 'Mrs\\.', 'None', 'Aston', 'S\\.', 'W\\.', 'K\\.']
cleaned = transactions.copy()
cleaned['representative'] = (cleaned['representative']
                             .str.replace('|'.join(suffixs), '', regex=True)
                             .str.replace('Ra√∫l', 'Raul')
                             .str.strip())

cleaned['representative'].unique()

array(['Virginia Foxx', 'Alan  Lowenthal', 'Donald McEachin',
       'Austin Scott', 'Thomas Suozzi', 'Garret Graves',
       'Christopher L. Jacobs', 'Susie Lee', 'TJ John (Tj) Cox',
       'Mo Brooks', 'Robert J. Wittman', 'Vern Buchanan', 'Lois Frankel',
       'Michael T. McCaul', 'Suzan  DelBene', 'Greg Gianforte',
       'Lloyd  Smucker', 'Earl Blumenauer', 'James Comer',
       'James R. Langevin', 'John Curtis', 'Trey Hollingsworth',
       'Anthony E. Gonzalez', 'William R. Keating', 'Raul M. Grijalva',
       'Josh Gottheimer', 'Katherine M. Clark', 'Carolyn B. Maloney',
       'Pete Sessions', 'David B. McKinley', 'Nancy Pelosi',
       'Steve Cohen', 'Gerald E. Connolly', 'Lloyd Doggett',
       'David E. Price', 'Kathy Manning', 'Scott H. Peters',
       'Sean Patrick Maloney', 'Michael  Simpson', 'Greg Steube',
       'Donald Sternoff Honorable Beyer', 'Mark Dr Green', 'Brian Mast',
       'Mary Gay Scanlon', 'Charles J. "Chuck" Fleischmann', 'Mike Kelly',
       'Marie Newman', 'Robert C. "Bobby" Scott', 'Kurt Schrader',
       'Earl Leroy Carter', 'Michael Patrick Guest', 'Hakeem  Jeffries',
       'Rohit Khanna', 'Billy Long', 'Grace Meng', 'Peter Meijer',
       'Richard  Allen', 'James E Hon Banks', 'Debbie Dingell',
       'Blake Moore', 'Tom Cole', 'Neal Patrick MD, Facs Dunn',
       'Harold Dallas Rogers', 'Fred Upton', 'Doug Lamborn',
       'Peter J. Visclosky', 'George Holding', 'Bob Gibbs', 'Sara Jacobs',
       'Marjorie Taylor Greene', 'David P. Joyce', 'Dwight Evans',
       'Doris O. Matsui', 'Francis Rooney', 'Dean Phillips',
       'Peter Welch', 'Ed Perlmutter', 'Ed Case', 'James French Hill',
       'Gilbert Cisneros', 'Michael Conaway', 'Zoe Lofgren',
       'Donald Sternoff Beyer', 'Cheri Bustos', 'August Lee Pfluger',
       'John A. Yarmuth', 'Cindy Axne', 'Kevin Hern', 'Scott Franklin',
       'Neal Patrick MD, FACS Dunn', 'Mark Green', 'John Rutherford',
       'James E. Banks', 'Ann Wagner', 'Jamie Raskin', 'Michael Garcia',
       'Tom Malinowski', 'Victoria Spartz', 'Patrick Fallon',
       'Bradley  Schneider', 'Kim Dr Schrier', 'Daniel Crenshaw',
       'David Cheston Rouzer', 'Michael C. Burgess',
       'Maria Elvira Salazar', 'Tom Rice', 'Brian Higgins',
       'David Kustoff', 'Susan A. Davis', 'Nicholas Van Taylor',
       'Debbie Wasserman Schultz', 'Joe Courtney', 'Mikie Sherrill',
       'Andrew Garbarino', 'Roger  Marshall', 'Michael Waltz',
       'Adam B. Schiff', 'Kim Schrier', 'Lacy Clay', 'Chellie Pingree',
       'Deborah  Ross', 'Neal Patrick Dunn MD, FACS', 'Gus M. Bilirakis',
       'Ron Estes', 'Michael John Gallagher', 'Frank Pallone',
       'David Madison Cawthorn', 'Greg Francis Murphy', 'Seth Moulton',
       'Kathy Castor', 'Ashley Hinson Arenholz', 'Kenneth R. Buck',
       'Lori Trahan', 'Judy Chu', 'Diana Harshbarger', 'Robert E. Latta',
       "Tom O'Halleran", 'David P. Roe', 'Sharice Davids',
       'Adam Kinzinger', 'Donna Shalala', 'William R. Timmons',
       'Kenny Marchant', 'Carol Devine Miller', 'Daniel Meuser',
       'Harley E. Rouda', 'David Trone', 'Robert B. Aderholt',
       'Nicholas V. Taylor', 'Matt Gaetz', 'Bill Huizenga',
       'Joseph P. Kennedy', 'John Garamendi', 'Susan  Brooks',
       'James M. Costa', 'Abigail Spanberger', 'Linda T. Sanchez',
       'Eleanor Holmes Norton', 'Vicente Gonzalez', 'John  Rose',
       'Adrian Smith', 'Felix Barry Moore', 'Joseph D. Morelle',
       'Patrick T. McHenry', 'Bill Pascrell', 'Larry Bucshon',
       'Brad Sherman', 'Jake Auchincloss', 'Elaine Luria', 'Bill Flores',
       'Michael Fq San Nicolas', 'John B. Larson', 'Steve Chabot',
       'Raja Krishnamoorthi', 'Tim Burchett', 'Mario Diaz-Balart',
       'Dan Newhouse', 'Stephanie Bice', 'Thomas Massie',
       'James Hagedorn', 'Justin Amash'], dtype=object)

In [ ]:
transactions['representative'].unique()

In [107]:
cleaned['first_name'] = cleaned['representative'].apply(lambda x: x.split()[0].capitalize())
cleaned['last_name'] = cleaned['representative'].apply(lambda x: x.split()[-1].capitalize())

# cleaned[cleaned['representative'].str.contains('al', case=False)]
cleaned['first_name'].unique()

array(['Virginia', 'Alan', 'Donald', 'Austin', 'Thomas', 'Garret',
       'Christopher', 'Susie', 'Tj', 'Mo', 'Robert', 'Vern', 'Lois',
       'Michael', 'Suzan', 'Greg', 'Lloyd', 'Earl', 'James', 'John',
       'Trey', 'Anthony', 'William', 'Raul', 'Josh', 'Katherine',
       'Carolyn', 'Pete', 'David', 'Nancy', 'Steve', 'Gerald', 'Kathy',
       'Scott', 'Sean', 'Mark', 'Brian', 'Mary', 'Charles', 'Mike',
       'Marie', 'Kurt', 'Hakeem', 'Rohit', 'Billy', 'Grace', 'Peter',
       'Richard', 'Debbie', 'Blake', 'Tom', 'Neal', 'Harold', 'Fred',
       'Doug', 'George', 'Bob', 'Sara', 'Marjorie', 'Dwight', 'Doris',
       'Francis', 'Dean', 'Ed', 'Gilbert', 'Zoe', 'Cheri', 'August',
       'Cindy', 'Kevin', 'Ann', 'Jamie', 'Victoria', 'Patrick', 'Bradley',
       'Kim', 'Daniel', 'Maria', 'Susan', 'Nicholas', 'Joe', 'Mikie',
       'Andrew', 'Roger', 'Adam', 'Lacy', 'Chellie', 'Deborah', 'Gus',
       'Ron', 'Frank', 'Seth', 'Ashley', 'Kenneth', 'Lori', 'Judy',
       'Diana', 'Sharice', 'Donna', 'Kenny', 'Carol', 'Harley', 'Matt',
       'Bill', 'Joseph', 'Abigail', 'Linda', 'Eleanor', 'Vicente',
       'Adrian', 'Felix', 'Larry', 'Brad', 'Jake', 'Elaine', 'Raja',
       'Tim', 'Mario', 'Dan', 'Stephanie', 'Justin'], dtype=object)

In [91]:
combined = cleaned.merge(parties, how='left', on=['first_name', 'last_name'])
combined.loc[combined['party'].isna(), 'representative'].unique()
combined.shape

(15674, 15)

### House members dataset

In [83]:
members = pd.read_csv('data/house_members_116.csv')
members['first_name'] = members['name'].apply(
    lambda x: x.split('-')[0].capitalize())
members['last_name'] = members['name'].apply(
    lambda x: x.split('-')[-1].capitalize())
members = members.rename(columns={'current_party': 'party'})[['first_name',
                                                              'last_name',
                                                              'party']]
members.head(10)

  first_name  last_name        party
0      Ralph    Abraham   Republican
1       Alma      Adams   Democratic
2     Robert   Aderholt   Republican
3       Pete    Aguilar   Democratic
4       Rick      Allen   Republican
5      Colin     Allred   Democratic
6     Justin      Amash  Independent
7       Mark     Amodei   Republican
8      Kelly  Armstrong   Republican
9      Jodey  Arrington   Republican

In [89]:
new_members = (pd.concat([members, parties])
               .sort_values(['first_name', 'last_name'])
               .drop_duplicates(subset=['first_name', 'last_name'])
               .reset_index(drop=True))
new_members.to_csv('data/cleaned_members.csv', index=False)

new_members[new_members['last_name'].str.contains('Allen', case=False)]

    first_name last_name       party
216    Gregory    Steube  Republican
552          W    Steube  Republican

In [129]:
new_members = pd.read_csv('data/cleaned_members.csv')
new_members[new_members['first_name'].str.contains('Mario', case=False)]

    first_name    last_name       party
358      Mario       Balart  Republican
359      Mario  Diaz-Balart  Republican

In [130]:
combined[combined['last_name'].str.contains('Diaz-Balart', case=False)]

,disclosure_year,disclosure_date,transaction_date,owner,ticker,asset_description,type,amount,representative,district,ptr_link,cap_gains_over_200_usd,first_name,last_name,party
14983,2021,05/18/2021,2021-04-22,self,--,"MDLIVE, INC",sale_full,"$50,001 - $100,000",Mario Diaz-Balart,FL25,https://disclosures-clerk.house.gov/public_dis...,False,Mario,Diaz-balart,NaN

In [131]:
combined = cleaned.merge(new_members, how='left', on=['first_name', 'last_name'])
combined.loc[combined['party'].isna(), 'representative'].nunique()

8

In [124]:
combined.loc[combined['last_name'].str.contains('O\'Halleran')]

Empty DataFrame
Columns: [disclosure_year, disclosure_date, transaction_date, owner, ticker, asset_description, type, amount, representative, district, ptr_link, cap_gains_over_200_usd, first_name, last_name, party]
Index: []

### Assessment of Missingness

In [ ]:
# TODO

### Hypothesis Test / Permutation Test

In [ ]:
# TODO